a {
  color: #004B85;
}

a:hover {
  color: #D8B305;
}

h1 {
  color: #004B85;
}


.navbar-default {
    background-color: #D8B305 !important;
    border-color: #D8B305;
}


.navbar-default .navbar-nav > li > a {
    color: #004B85;
}


// Also don't forget to change the hover styles as well

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #D8B305;
    background-color: #004B85 !important;
}   


// And the brand colour

.navbar-default .navbar-brand {
    color: #004B85;
